body {
    background-color:grey
}

.navbar {
    background-color: lightgrey
}

.navbar-brand {
    color: white;
    background: rgb(46, 94, 46);
    padding: 5px;
    border-radius: 3px;
}

.nav-link {
    color: rgb(46, 94, 46)
}

#main_cols {
    padding: 10px
}

#text-pic {
    padding: 6px;
}

.jumbotron {
    color: white;
    background-color:rgb(46, 94, 46);
}

.dropdown-menu {
    background-color:lightgray
}

.dropdown-item {
    color: rgb(46, 94, 46)
}

#left_col {
    padding: 3px
}

#left_col_two {
    padding: 3px
}